
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(#12053b, #58003c) no-repeat;
  background-size: cover;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: whitesmoke;
  margin-bottom: 30px;
}

.filter-section {
  text-align: center;
  margin-bottom: 40px;
}

.filter-btn {
  background-color: #23088b;
  border: none;
  color: #8181ff;
  padding: 12px 30px;
  margin: 5px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.filter-btn:hover {
  background-color: #0e036b;
  transform: scale(1.05);
}

.filter-btn.active {
  background-color: #28a745;
  color: #0e036b;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Product List */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-item {
  background-color: rgba(0, 4, 54, 0.3);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
  background-color: rgba(192, 192, 192, 0.3);
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.product-item h3 {
  font-size: 1.5em;
  color: rgb(192, 192, 192);
}

.product-item:hover h3 {
  color: rgb(0, 4, 54);
}

.product-item p {
  color: #6c757d;
  font-size: 1em;
}

@media (max-width: 768px) {
  .product-item {
    width: 100%;
  }
}
